html,
body,
#app {
  margin: 0;
  padding: 0;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-pink-600 text-white cursor-pointer
    hover:bg-pink-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}
